$shadow: rgb(229, 229, 229);

@keyframes button-background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo{
    filter: invert(1);
    height: 100%;
}

nav{
    height: 60px;
   // border-bottom: solid 1px $shadow;
    margin: 0px;
    padding: 5px;
    display: flex;
   // box-shadow: 0px 5px 25px $shadow;
    background-color: #040805;
}

.name {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}

.account-options{
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
}

.clickable{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid;
    border-color: #fff;
    border-radius: 5000px;
    border-width: 1px;
    
}

.clickable a{
    color: #fff;
}

*{
    color: black;
    text-decoration: none;
}

.clickable:hover{
    background: linear-gradient(-45deg, white, silver);
    background-size: 400% 400%;
    background-color:$shadow;
    border: none;
    border-radius: 5000px;
    animation: button-background 15s ease infinite;

    *{
        color: black;
    }
}